/*------------------------------------*\
    Changes from HomePage
\*------------------------------------*/

#nav_header {
    position: relative !important;
    left: 0% !important;
}
#nav_header.sticky {
    position: fixed !important;
}
.wrapper {
    background-color: white;
}

.sticky {
    -webkit-animation: none !important; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: none !important; /* Firefox < 16 */
    -ms-animation: none !important; /* Internet Explorer */
    -o-animation: none !important; /* Opera < 12.1 */
    animation: none !important;
}

/*------------------------------------*\
    First Table
\*------------------------------------*/

#c_overcontainer {
    /*width: 1600px;*/
    height: 30vw;
    position: absolute;
    top: 50px;
    z-index: 9;
    left: 8%;
    right: 8%;

}

#c_first_container {
    position: relative;
    top: 50px;
    z-index: 999;
}

.cenik_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 2%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 2%;
}

/* table itself */


#c_first_table {
    margin-top: 110px;
}

#c_first_table tbody tr:nth-child(even) {background: #f8f9fd}
#c_first_table tbody tr:nth-child(odd) {background: #fff}

.wid-25 {
    width: 25%;
}

@media only screen and (max-width: 992px) {
    .wid-50 {
        width: 75%;
    }
}

.header_zakladi {
    display: flex;
    height: 35px;
}

.header_zakladi img {
    height: 21px;
    margin-top: 10px;
}

.header_zakladi p {
    font-size: 17px;
    display: inline;
    padding-left: 8px;
}



.header_row_title {
    background: transparent;
    position: static;
}
.header_row_bubble{
    position: static;
    height: 140px;
    margin-bottom: 20px;
}
.header_row_bubble .start_header{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 100px !important;
    position: relative;
    top: -20px;
    text-align: center;
    padding: 40px 15px;
}
.start_header img {
    height: 21px !important;
    margin-top: -2px !important;
}
.start_header p{
    font-size: 17px;
    display: inline;
    padding-left: 8px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}
.header_row_bubble .c_first_block{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 100px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
.header_row_bubble .c_first_block:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #d8ddec;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -10px;
}
  
.header_row_bubble .c_second_block{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 100px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
.header_row_bubble .c_second_block:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #d8ddec;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -10px;
}
.header_row_bubble .c_third_block{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 100px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
.header_row_bubble .c_third_block:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #d8ddec;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -10px;
}

.tooltip2 {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.tooltip2 .tooltip2text {
    visibility: hidden;
    width: 253px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -124px;
    line-height: 20px;
    padding: 20px;
}

.tooltip2:hover .tooltip2text {
  visibility: visible;
}
.tooltip2:hover .tooltip2text:before{
        content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #212529;
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -17px;
}
.info_ico{
    font-size: 15px;
}



.header_row {
    background: #d8ddec;
    position: static;
}

#c_first_th, #c_second_th, #c_third_th {
    position: relative;

}

.c_first_block {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 50%;
    width: 90%;
    height: 80px;
    background: white;
    color: #66cc60;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: flex;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}

.c_second_block {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 50%;
    width: 90%;
    height: 80px;
    background-image: linear-gradient(to right, #69cf63 , #72d56c, #71d46b);
    color: white;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: flex;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}
/* sets two lines for header */
@media only screen and (max-width: 514px) {
    .c_second_block div {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width: 767px){
    .start_header img{
        display: none !important;
    }
    .odd_row .row {
        line-height: 20px;
    }
    .even_row .row{
        line-height: 20px;
    }
    .c_table_price {
        font-size: 13px !important;
    }
    .c_table_poplatek {
        color: #66cc60 !important;
        font-size: 12px !important;
        font-weight: bold !important;
        line-height: 15px !important;
        margin-top: 10px !important;
        text-align: center;
    }
}
@media screen and (max-width: 580px){
    .c_first_block {
        font-size: 14px;

    }
    .c_second_block{
        font-size: 14px;
    }
    .header_row_bubble .c_first_block {
        line-height: 17px;
        font-size: 12px;
    }
    .header_row_bubble .c_second_block {
        line-height: 17px;
        font-size: 12px;
    }

}
@media screen and (max-width: 450px){
    .overflow_table {
        overflow-x: auto;
    }
    .c_first_block {
        line-height: 16px;
    }
    .c_second_block {
        line-height: 16px;
    }
}

.c_second_block div {
    margin: auto;
    padding: 0 30px;
}

.c_first_block div {
    margin: auto;
    padding: 0 30px;
}

table {
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    border-collapse: collapse;
}

tr {
    line-height: 40px;
}

@media only screen and (max-width: 1199px) {
    .responsive-tr-1 {
        line-height: 20px;
    }
}

@media only screen and (max-width: 991px) {
    table {
        font-size: 12px;
    }
    .responsive-tr-2 {
        line-height: 20px;
    }


}

@media only screen and (max-width: 769px){
    .responsive-tr-3 {
        line-height: 20px;
    }
}

@media only screen and (max-width: 425px){
    .responsive-tr-4 {
        line-height: 20px;
    }
}

@media only screen and (max-width: 400px){
    .c_first_block {
        padding-left: 10px ;
        padding-right: 10px ;
        line-height: 25px ;
    }
    .c_second_block {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 25px;
    }
}
@media only screen and (max-width: 375px){
    .responsive-tr-5 {
        line-height: 20px;
    }
}

.small-tr {
    line-height: 20px;
}
/*table borders adjustment + rounded corners*/
th {
    font-weight: bold;
    border-top: none !important;
    border-bottom: none !important;
}

td {
    border-top: none !important;
    border-bottom: none !important;
}
table td {
    border: 1px solid #d8ddec;
}

table tr td:first-child {
    border-left: 0;
}


table tr td:last-child {
    border-right: 0;
}

td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*
tr th {
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
}

tr td:last-child {
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
}
*/
.c_table_price {
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    color: #434a5a;
}

.c_table_price b {
    font-size: 12px;
    font-weight: 400;
}

.c_table_poplatek {
    color: #66cc60;
    font-size: 12px;
    font-weight: bold;
    margin-top: -18px;
}

.c_table_footer {
    margin-top: 7px;
    font-size: 13px;
    line-height: 17px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
}

.c_table_footer b {
    color: #66cc60;
    font-size: 13px;
    font-weight: bold;

}

#c_first_table tbody tr td:first-child {
    font-weight: bold;
}

#c_third_td {
   /* display: flex;*/
    border: none;
}

.c_order_demo {
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: 15%;
    background-image: linear-gradient(to right, #66cc60 , #76d770);
    padding: 5px 10px 5px 10px;
    width: 190px;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.c_order_demo:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 0 25px rgba(114,212,109,0.8);
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 990px) {
    .c_order_demo {
        width: 140px;
        margin-top: 35%;
    }
}

@media only screen and (max-width: 522px) {
    .c_order_demo {
        width: 110px;
        margin-top: 45%;
        font-size: 11px;
    }

    .header_more_tables p {
        font-size: 13px !important;
    }
    .header_zakladi p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 450px) {
    .header_more_tables img {
        margin-left: 5px;
    }
    .header_zakladi img {
        margin-left: 5px;
    }
    .button-responsive {
        line-height: 40px;
    }
}

@media only screen and (max-width: 398px) {
    .header_zakladi p {
        line-height: 37px;
    }

    .c_order_demo {
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    .header_zakladi img {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .header_more_tables p {
        line-height: 20px;
    }
    .small-p {
        padding-top: 9px;
    }
    .responsive-p-1{
        margin-top: 5px !important;
    }
    .header_zakladi p {
        line-height: 20px;
    }
}
@media only screen and (max-width: 351px){
    .responsive-p-3{
        margin-top: -15px !important;
    }
}

@media only screen and (max-width: 347px) {
    .responsive-p-2{
        margin-top: -15px !important;
    }
}

@media only screen and (max-width: 303px) {
    .responsive-p-1{
        margin-top: -7px !important;
    }
}

/*------------------------------------*\
    More Tables
\*------------------------------------*/

/* changin content of cllapse button depending on if its true or false */


.c_show_table[aria-expanded="false"]:before{
    content:"Zobrazit funkce";
}

.c_show_table[aria-expanded="true"]:before{
    content:"Skrýt funkce";
}

div.card {
    box-shadow: none !important;
    border: none !important;
    background-color: #f2f4f9 !important;
}

.eshop_funkce {
    font-family: 'Muli', sans-serif;
    color: #66cc60;
    font-size: 18px;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 1.5%;
}

.more-tables2 {
    margin-bottom: 0 !important;
}

.more-tables {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.card-adjustment {
    padding: 0 !important;
}

.colapse-adjustment {
    padding: 0 !important;
}

.c_show_table {
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-right: 10%;
    background-image: linear-gradient(to right, #66cc60 , #76d770);
    width: 160px;
    border-radius: 25px;
    border: none;
    font-family: 'Muli', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.c_show_table:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 0 25px rgba(114,212,109,0.8);
    transition: 0.3s ease-in-out;
}

.c_show_table:focus {
    outline:0;
}


@media only screen and (max-width: 522px) {
    .c_show_table {
        width: 130px ;
        font-size: 11px ;
    }
}

@media only screen and (max-width: 398px) {
    .c_show_table {
        font-size: 10px;
    }
}

.header_more_tables {
    display: flex;
    height: 35px;
}

.header_more_tables img {
    height: 21px;
    width: 21px;
    margin-top: 3px;
}

.header_more_tables p {
    font-size: 17px;
    display: inline;
    padding-left: 6px;
    margin-top: -5px;
}


/*------------------------------------*\
    Pre last Part
\*------------------------------------*/

.c_prelast_row {
    padding-top: 5vw;
}

.c_agentura {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}

.c_agentura b {
    color: #3aa5ee;
}

.c_agentura_button {
    padding-bottom: 20px;
}
.c_new_button {
    margin-left: 40px;
}

.new_button {
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: white !important;
    background-image: linear-gradient(90deg, #4485e1 0%, #3aa6ef 100%) !important;
    border: none;
    border-radius: 25px;
    text-align: center !important;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 0 15px rgba(52,152,219,0.4);
}
.c_new_button:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pule 1s;
    animation: pulse 1s;
}

.new_button:hover {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .c_new_button {
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only scree and (max-width: 768px) {
    .new_button {
        padding: 1em 1.5em;
    }
}

/*------------------------------------*\
    Sections
\*------------------------------------*/
#nav_header {
    -webkit-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    -moz-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
}

#c_prelast_part {
    min-height: 11vw;
    height: auto;
}

#c_over_firstpart {
    min-height: 96.5vw;
    height: auto;
    background-color: #f2f4f9 ;
    position: relative;
    padding-bottom: 100px;
}