/*------------------------------------*\
    Changes from HomePage
\*------------------------------------*/

#second_part{
    min-height: 1000px;
    background: #eceff6;
    background: url(./../img/pro_firmy_2.jpg);
    background-position: center center;
    background-size: contain;
        padding-bottom: 50px;
}
#second_part h2{
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 5%;
    text-align: center;
    position: relative;
}
#second_part h2:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: -20%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid #3aa5ee;
}
.icon_line img{
    max-width: 100%;
    max-height: 70px;
    margin: 0px auto;
}
.flex{

    display: flex;
    justify-content: center;
    align-items: center;

}
#second_part .list_package{
    margin-top: 80px;
}
#second_part .list_package .circle{
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 100%;
    margin: 0px auto;
    margin-bottom: 20px;
}
#second_part .list_package .circle img{
    width: 50px;
    height: 50px;
}
#second_part .list_package .single-package{
    margin-bottom: 60px;
}

#second_part .list_package h3{
    font-size: 18px;
    color: #434a5a;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
#second_part .list_package p{
    font-size: 14px;
    color: #434a5a;
    text-align: center;
}
#second_part .list_package strong{
    font-weight: bold;
}
.button_agentura{
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(to right, #66cc60 , #76d770);
    padding: 5px 10px 5px 10px;
    width: 200px;
    border-radius: 30px;
    font-family: 'Muli', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    height: 60px;
    padding-top: 23px;
}
#third_part{
    padding-bottom: 40px;
}
@media screen and (max-width: 767px){
    #third_part{
        padding-top: 50px;
    }
    .single-admin-image{
        margin-top: 30px;
    }
    .single-row-third h3{
        text-align: center;
    }
    .single-row-third h3 br {
        padding: 0;
        margin: 0;
        width: auto;
        display: none;

    }
    #second_part .list_package h3 br{
        padding: 0;
        margin: 0;
        width: auto;
        display: none;       
    }
    .icon_line img {
        max-width: 70px;
        max-height: 70px;
        margin: 0px auto;
        display: block;
    }
}
#third_part h2{
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 5%;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}
#third_part h2:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: -20%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid #66cc60;
}
.lightboxOverlay {
    z-index: 99999;
}
.lightbox {
    z-index: 999999;
}
.single-row-third{
    margin-bottom: 60px;    
}
.single-row-third h3{
    font-size: 18px;
    color: #66cc60;
    margin-top: 12px;
    margin-bottom: 35px;
    font-weight: 900;
}
.single-row-third p{
    font-size: 14px;
    color: #434a5a;
}
.single-row-third .no_image{
    padding: 20px;
    text-align: center;
    background: #eceff6;
    max-height: 200px;
    border-radius: 4px;
}
.single-row-third .no_image img{
    width: 70px;
    height: 70px;
    margin: 0px auto;
    margin-bottom: 25px;
}
.single-row-third .no_image p{
    font-size: 14px;
    color: #434a5a;
}
.single-row-third .no_image strong{
    font-weight: 900;
}

.single-row-third .admin_img{
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 4px;
}
.single-row-third .lupa{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: white;
    display: none;
}
.single-admin-image:hover .lupa{
    display: flex;
}
.single-row-third .lupa img{
    width: 30px;
    height: 30px;
}
.single-row-third .title_photo{
    font-size: 14px;
    color: #434a5a;
    text-align: center;
    margin-top: 18px;
    font-weight: bold;
}

#porovnani{
    min-height: 1100px;
    padding: 100px 0px 80px 0px;
    background: #f2f4f9 url(./../img/porovnani2.jpg);
    background-size: cover !important;
    background-position: center center !important;
}
#porovnani h2{
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    text-align: center;
}
#porovnani h3{
    font-size: 0.19in;
    color: #3aa5ee;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    position: relative;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    
}
#porovnani .container{
    max-width: 970px;
}
#porovnani p{
    color: #434a5a;
    font-size: 14px;
    text-align: center;
}
#porovnani h3:before {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 0;
    height: 1px;
    width: 4%;
    border-bottom: 2px solid #3aa5ee;
}






/*table borders adjustment + rounded corners*/
th {
    font-weight: bold;
    border-top: none !important;
    border-bottom: none !important;
}

td {
    border-top: none !important;
    border-bottom: none !important;
}
table td {
    border: 1px solid #d8ddec;
}

table tr td:first-child {
    border-left: 0;
}


table tr td:last-child {
    border-right: 0;
}

td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#c_first_table {
    margin-top: 90px;
}

.header_zakladi {
    display: flex;
    height: 35px;
}

.header_zakladi img {
    height: 21px;
    margin-top: 10px;
}

.header_zakladi p {
    font-size: 17px;
    display: inline;
    padding-left: 8px;
}



.header_row_title {
    background: transparent;
    position: static;
}
.header_row_bubble{
    position: static;
    height: 140px;
    margin-bottom: 20px;
}
.header_row_bubble .start_header{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 100px !important;
    position: relative;
    top: -20px;
    text-align: center;
    padding: 40px 15px;
}
.start_header img {
    height: 21px !important;
    margin-top: -2px !important;
}
.start_header p{
    font-size: 17px;
    display: inline;
    padding-left: 8px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}
.header_row_bubble .c_first_block{
    margin-top: 30px;
    background: white !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 80px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
  
.header_row_bubble .c_second_block{
    margin-top: 30px;
    background: white !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 80px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
.header_row_bubble .c_third_block{
    margin-top: 30px;
    background: #d8ddec !important;
    color: #434a5a !important;
    font-size: 13px;
    line-height: 17px;
    height: 80px !important;
    position: relative;
    top: -20px;
        line-height: 20px;
}
.header_row_bubble .c_third_block:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #d8ddec;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -10px;
}

.tooltip2 {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.tooltip2 .tooltip2text {
    visibility: hidden;
    width: 253px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -124px;
    line-height: 20px;
    padding: 20px;
}

.tooltip2:hover .tooltip2text {
  visibility: visible;
}
.tooltip2:hover .tooltip2text:before{
        content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #212529;
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -17px;
}
.info_ico{
    font-size: 15px;
}



.header_row {
    background: #d8ddec;
    position: static;
}

#c_first_th, #c_second_th, #c_third_th {
    position: relative;

}

.c_first_block {
    position: absolute;
    left: 0%;
    right: 5%;
    bottom: 50%;
    width: 100%;
    height: 80px;
    background: white;
    color: #66cc60;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: flex;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}

.c_second_block {
    position: absolute;
    left: 0%;
    right: 5%;
    bottom: 50%;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #69cf63 , #72d56c, #71d46b);
    color: white;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: flex;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}
.c_second_block div {
    margin: auto;
}

.c_first_block div {
    margin: auto;
}

.even_row {
    background: #fff;
}

.odd_row {
    background: #f8f9fd;
}
table tr td:first-child{
    font-weight: bold;
}
table {
    font-size: 13px;
    font-family: 'Muli', sans-serif;
    border-collapse: collapse;
}

tr {
    line-height: 40px;
}

@media screen and (max-width: 800px){
    .overflow_table {
        overflow-x: auto;
    }
}
.logo_table{
    max-width: 100%;
    padding: 0 20px;
    max-height: 50px;
}

.button_agentura:hover{
    text-decoration: none;
    color: white;
    box-shadow: 0 0 25px rgba(114,212,109,0.8);
    transition: 0.3s ease-in-out;
}
#third_part{
    min-height: 1400px;
    background: #ffffff;
}

#nav_header {
    position: relative !important;
    left: 0% !important;
}

#nav_header.sticky {
    position: fixed !important;
}

.wrapper {
    background-color: white;
}

.sticky {
    -webkit-animation: none !important; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: none !important; /* Firefox < 16 */
    -ms-animation: none !important; /* Internet Explorer */
    -o-animation: none !important; /* Opera < 12.1 */
    animation: none !important;
}
/*------------------------------------*\
    Slider
\*------------------------------------*/

.aa_slider_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 8%;
    padding-bottom: 1%;
}

.aa_slider_subtitle {
    font-size: 0.21in;
    color: #3aa5ee;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
}

.aa_slider_subtitle:before {
    content : "";
    position: absolute;
    left    : 48%;
    bottom  : 0;
    height  : 1px;
    width   : 4%;
    border-bottom: 2px solid #3aa5ee;
}

#slider2 {
    width: 80%;
    height: 100%;
    display: flex;
    padding-top: 4%;
    padding-bottom: 3%;
    z-index: 999;
}

.slides2 {
    display: flex;
    /*overflow-x: auto;*/
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    outline: none;
}

.slides2::-webkit-scrollbar {
    display: none;
}

.slides2 > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transition: transform 0.5s;
}

.inside_slider_content2 {
    width: 80%;
    padding-left: 40px;
}

.inside_slider_title2 {
    color: #66cc60;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 13pt;
    font-weight: bold;
}

.inside_slider_text2 {
    font-family: 'Muli', sans-serif;
    font-size: 12pt;
}

@media only screen and (max-width: 1200px){
    .inside_slider_title2 {
        font-size: 11pt;
    }
    .inside_slider_text2 {
        font-size: 10pt;
    }
}
#slickRight_main_home2 button {
    position: relative;
    top: 25%;
    background-color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding: 20px 30px;
    font-weight: bold;
    color: #66cc60;
    border: none;
    border-radius: 50%;
    z-index: 999;
}

#order-button2 {
    padding-right: 18px !important;
    padding-left: 18px !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    color: #f9ffff!important;
    background-image: linear-gradient(90deg, #4485e1 0%, #3aa6ef 100%) !important;
    border: none;
    border-radius: 18px;
    text-align: center !important;
    /* position: absolute; top: -100px; right: 53%;*/
    font-size: 14px;
    font-weight: bold;
    z-index: 9999 !important;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 0 20px rgba(52,152,219,0.4);
}

@media only screen and (max-width: 991px) {
    #order-button2 {
        font-size: 12px;
        font-weight: 500;
    }
}

#order-button2:hover {
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pulse 1s;
    animation: pulse 1s;
    background-image: linear-gradient(90deg, #3aa5ee 0%, #3aa5ee 100%) !important;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#order-button2:hover .order-button-child {
    animation: pulsereverse 1s;
}
@keyframes pulsereverse{
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(0.9803921568627451, 0.9803921568627451, 0.9803921568627451);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

#slickRight_main_home2 button:hover {
    box-shadow: 0 0 20px rgba(165,165,165,0.5);
    transition: 0.3s ease-in-out;
}

#slickRight_main_home2 button:focus {
    outline: 0;
}

.aa_background {
    position: absolute;
    height: 400px;
    top: 640px;
    left: 0px;
    width: 1650px;
    background-image: linear-gradient(to right, #f1f3f8 0%, #eceff6 30%);
    z-index: 9 !important;
    border-top-right-radius: 300px;
}

.order_button_adj2 {
    position: relative;
    top: -110px;
    min-height: 70px;
    left: 50%;
    z-index: 9999;
}

@media only screen and (max-width: 991px) {
    .order_button_adj2 {
        top: -60px;
    }
}


@media only screen and (max-width: 1650px) {
    .aa_background {
        width: 1500px;
    }
}
@media only screen and (max-width: 1510px) {
    .aa_background {
        width: 1300px;
    }
}

@media only screen and (max-width: 1310px) {
    .aa_background {
        width: 1190px;
        top: 580px;
    }
    .aa_what_esoul {
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 1200px) {
    #order-button2 {
        right: 37%;

    }
    .aa_background {
        width: 1091px;
        border-top-right-radius: 200px;
        height: 300px;
        top: 550px;
    }
}

@media only screen and (max-width: 1091px) {
    .aa_background {
        width: 990px;
        border-top-right-radius: 200px;
        background-color: #eceff6;
    }
}

@media only screen and (max-width: 990px) {
    .aa_background {
        width: 770px;
        top: 550px;
        border-top-right-radius: 200px;
        height: 290px;
    }
}

@media only screen and (max-width: 770px) {
    #slickRight_main_home2 button {
        font-size: 20px;
        padding: 10px 15px;
    }

    /*
    .order_button_adj2 {
        top: 50px ;
        left: 50px !important;
        padding-bottom: 15px;
    }
*/

    .aa_what_esoul {
        padding-top: 50px !important;
    }

    .aa_background {
        width: 700px;
        border-top-right-radius: 200px;
        top: 480px;
        height: 290px;
    }
}


@media only screen and (max-width: 768px) {

    .order_button_adj2 {
        top: 20px ;
    }

    #order-button2 {
        padding-right: 11px !important;
        padding-left: 11px !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        font-size: 11px;
    }

    .aa_background {
        display: none !important;
    }
    #aa_over_firstpart {
        background-color: #eceff6 !important;
    }
}

@media only screen and (max-width: 500px) {

    .inside_slider_content2 {
        width: 100% !important;
        padding-bottom: 10%;
        margin-left: 0 !important;
        padding-left: 5px !important;
    }

    #slickRight_main_home2 button {
        top: 45%;
    }

    #order-button2 {
        padding-right: 30px !important;
        padding-left: 30px !important;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        margin-left: 100px;
    }

    .order_button_adj2 {
        top: -10px;
        left: -3% !important;
    }

}

@media only screen and (max-width: 375px){
    #order-button2 {
        margin-left: 70px;
    }
}
@media only screen and (max-width: 320px){
    #order-button2 {
        margin-left: 50px;
    }
}


/*What is ESOUL (Co Je Esoul?)*/
.aa_what_esoul {
    padding-top: 110px;
    padding-bottom: 5%;
    position: relative;
    z-index: 9998;
}


@media only screen and (max-width: 1310px) {
    .aa_what_esoul {
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 770px) {
    .aa_what_esoul {
        padding-top: 50px !important;
    }
}

.aa_esoul_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 2%;    ;
}

.aa_esoul_subtitle {
    font-size: 0.19in;
    color: #66cc60;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    position: relative;
    padding-bottom: 15px;
}

.aa_esoul_subtitle:before {
    content : "";
    position: absolute;
    left    : 48%;
    bottom  : 0;
    height  : 1px;
    width   : 4%;
    border-bottom:2px solid #66cc60;
}

.aa_esoul_text {
    font-size: 0.17in;
    font-family: 'Muli', sans-serif;
    padding-top: 4%;
    /*margin-left: -4%;*/
}

@media only screen and (max-width: 600px){
    .aa_esoul_text{
        margin-left: 5%;
        margin-right: 5%;
    }
    .aa_esoul_subtitle{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*------------------------------------*\
    How to set up plugins
\*------------------------------------*/
.aa_plugin_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 3%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 8%;
}

.aa_plugin_title:before {
    content : "";
    position: absolute;
    left    : 47.5%;
    bottom  : 42%;
    height  : 1px;
    width   : 5%;
    border-bottom:2px solid #3aa5ee;
}

.plugin_title {
    color: #3aa5ee;
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 800;
    padding-top: 25px;
}

.plugin_subtitle {
    color: #434a5a;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    padding-top: 18px;
}

.plugin_text {
    padding-top: 18px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
}

.first_arrow {
    position: absolute;
    top: 25%;
    right: 20vw;

}
#arrow1 {
    width: 85%;
}

.second_arrow {
    position: absolute;
    top: 65%;
    left: 20vw;
}
#arrow2 {
    width: 85%;
}

@media only screen and (max-width: 1855px) {
    .first_arrow {
        right: 15%;
    }
    .second_arrow {
        left: 15.5%;
    }
}

@media only screen and (max-width: 1580px) {
    .first_arrow {
        right: 10%;
    }
    .second_arrow {
        left: 10.5%;
    }
}

@media only screen and (max-width: 1400px) {
    .first_arrow {
        right: 5%;
    }
    .second_arrow {
        left: 5.5%;
    }
}

@media only screen and (max-width: 1250px) {
    .first_arrow {
        right: 2%;
        top: 28%;
    }
    .second_arrow {
        left: 2.5%;
        top: 68%;
    }

    #arrow1 {
        width: 75%;
    }

    #arrow2 {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    .first_arrow {
        right: 8%;
        top: 22%;
    }

    .second_arrow {
        left: 8.5%;
        top: 68%;
    }
}

@media only screen and (max-width: 900px) {
    .first_arrow {
        right: 1.8%;
        top: 22%;
    }

    .second_arrow {
        left: 3%;
        top: 68%;
    }
}
@media only screen and (max-width: 770px) {
    .aa_plugin_title:before {
        bottom  : 55%;
    }
    #arrow1, #arrow2 {
        display: none;
    }
}

/*------------------------------------*\
    Price Section and order button
\*------------------------------------*/

.aa_price_first {
    color: white;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    padding-top: 30px;
}

.aa_price_second {
    color: white;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    font-size: 32px;
    padding-top: 10px;
}

.aa_price_third {
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    padding-bottom: 35px;
}

.aa_contact_button {
    text-transform: uppercase;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 14px 30px 14px 30px;
    width: 200px;
    border-radius: 25px;
    font-family: 'Muli', sans-serif;
    color: #434a5a;
    font-weight: bold;
    font-size: 14px;
    margin-top: 30%;
    box-shadow: 0 0 25px rgba(117,117,117,0.6);
}

.aa_contact_button:hover {
    text-decoration: none;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}

@media only screen and (max-width: 1199px) {
    #aa_over_thirdpart {
        background-image: linear-gradient(90deg, #65cc60 0%, #76d76f 100%) !important;
    }
}

@media only screen and (max-width: 991px) {
    .aa_contact_button {
        margin-top: 5%;
        margin-bottom: 7%;
    }

    #aa_over_thirdpart {
        background-size: 300% !important;
    }
    .aa_price_third {
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 810px) {
    .aa_contact_button {
        width: 160px;

    }
}

@media only screen and (max-width: 770px) {
    .aa_contact_button {
        width: 160px;
    }

}

@media only screen and (max-width: 767px) {
    .aa_contact_button {
        margin-top: 5%;
    }
}

/* Moble phone adjustments */

@media only screen and (max-width: 500px) {
    .aa_slider_title {
        font-size: 0.25in;
    }
    .aa_esoul_title {
        font-size: 0.25in;
    }

    .aa_plugin_title {
        margin-top: 50px;
        font-size: 0.25in;
    }

    .aa_plugin_title:before {
        bottom  : 35%;
    }
}

@media only screen and (max-width: 375px) {
    .aa_plugin_title:before {
        bottom  : 17%;
    }
}
/*------------------------------------*\
    Sections
\*------------------------------------*/

#nav_header {
    -webkit-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    -moz-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
}

#aa_over_firstpart {
    min-height: 32vw;
    height: auto;
    position: relative;
    background-color: #f2f4f9;
    padding-bottom: 3%;
    box-shadow: inset 0 8px 10px -6px rgba(172,172,172,0.2);
    -moz-box-shadow: inset 0 8px 10px -6px rgba(172,172,172,0.2);
    -webkit-box-shadow: inset 0 8px 10px -6px rgba(172,172,172,0.2);
}

#aa_over_secondpart {
    min-height: 50vw;
    height: auto;
    position: relative;
    padding-bottom: 6%;
}

@media only screen and (max-width: 767px) {
    #aa_over_secondpart {
        padding-bottom: 150px;
    }
}

#aa_over_thirdpart {
    min-height: 10vw;
    height: auto;
    max-height: 200px;
    background-position: center;
}

#fourth_container {
    overflow-x: hidden;
}

@media only screen and (max-width: 768px){
    #fourth_container {
        overflow: hidden;
    }
}
