/*------------------------------------*\
    Changes from HomePage
\*------------------------------------*/

#nav_header {
    position: relative !important;
    left: 0% !important;
}

.wrapper {
    background-color: white;
}

.sticky {
    -webkit-animation: none !important; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: none !important; /* Firefox < 16 */
    -ms-animation: none !important; /* Internet Explorer */
    -o-animation: none !important; /* Opera < 12.1 */
    animation: none !important;
}
/*------------------------------------*\
    Changes from HomePage
\*------------------------------------*/

.data_form_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 6%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 4%;
}

.data_form_title:before {
    content : "";
    position: absolute;
    left    : 47.5%;
    bottom  : 20%;
    height  : 1px;
    width   : 5%;
    border-bottom:2px solid #66cc60;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.data_content {
    padding-bottom: 40px !important;
}

/*------------------------------------*\
    Sections
\*------------------------------------*/
#nav_header {
    -webkit-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    -moz-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
}

#data_over_firstpart {
    background-color: #f2f4f9;
    height: auto;
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
}