/*************************/
/* Footer Styling */
/*************************/

.footer {
    min-height: 7vw;
    height: auto;
    background: white;
}

.footer_company {
    font-size: 15px;
    color: #505665;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 22px;
}

.footer_description {
    font-size: 14px;
    color: #505665;
    font-family: 'Muli', sans-serif;
}

.footer_links {
    display: flex;
    padding-left: 0;
    list-style: none;
    padding-top: 5%;
    margin-bottom: 22px;
}

.footer_links a {
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    color: #3aa5ee;
    margin-left: 2%;
    font-weight: bold;
    text-decoration: underline;
}

.footer_links > li:not(:last-of-type) {
    margin-right: 10px;
}

.footer_links a:first-child {
    margin-left: 0;
}

.footer_phone span {
    font-size: 14px;
    color: #4485e1;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.footer_phone {
    padding-top: 22px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #505665;
}

.footer_email span {
    font-size: 14px;
    color: #4485e1;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.footer_email {
    padding-top: 2px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #505665;
}

.footer_icons {
    margin-top: 7%;
    margin-bottom: 27px;
}

.footer-made-by{
    padding-top: 22px;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #505665;
}

.footer-made-by-img {
    margin-top: 1%;
    margin-bottom: 27px;
    max-width: 184px;
}

.primary_nav {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: auto;
}

.primary_nav > li {
    margin-right: 50px;
}

.primary_nav > li a {
    font-family: 'Muli', sans-serif;
    position: relative;
    color: #434A5A;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0;
}

.primary_nav > li a:hover {
    text-decoration: none;
}

.primary_nav > li.current-menu-item a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 1px;
    width: 18px;
    border-bottom: 2px solid #4485e1;
}

@media only screen and (max-width: 992px) {
    #nav_header.overlay-is-navbar-collapse {
        background: #fff !important;
    }
    #nav_header #navbarMenu {
        text-align: center;
        background: #fff !important;
    }
    #nav_header #navbarMenu .blue_button {
        display: inline-block;
    }
    .primary_nav {
        flex-direction: column;
        text-align: center;
    }
    .primary_nav > li {
        margin: 10px 0 10px 0;
    }
    .primary_nav > li.current-menu-item a:before {
        right: 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 575px) {
    .footer_links {
        margin-bottom: 12px;
    }

    #footer_container {
        margin-top: 0px;
    }

    .footer_icons {
        display: flex;
        margin-top: 25px;
        margin-bottom: 0px;
        justify-content: center;
    }
    .footer_contacts {
        margin-left: 32%;
    }
    .footer-made-by {
        display: flex;
        justify-content: center;
    }
    .footer-made-by-img {
        margin: auto;
        margin-bottom: 27px;
    }
}

@media only screen and (max-width: 415px) {
    .footer_contacts {
        margin-left: 23%;
    }
}
