/*------------------------------------*\
    Changes from HomePage
\*------------------------------------*/

#nav_header {
    position: relative !important;
    left: 0% !important;
}
#nav_header.sticky {
    position: fixed !important;
}
.wrapper {
    background-color: white;
}

.sticky {
    -webkit-animation: none !important; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: none !important; /* Firefox < 16 */
    -ms-animation: none !important; /* Internet Explorer */
    -o-animation: none !important; /* Opera < 12.1 */
    animation: none !important;
}
/*------------------------------------*\
    Form
\*------------------------------------*/

.gm-style .marker img {
    background: red;
}

.od_form_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 8%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 8%;
}

.od_form_title:before {
    content : "";
    position: absolute;
    left    : 47.5%;
    bottom  : 34%;
    height  : 1px;
    width   : 5%;
    border-bottom: 2px solid #66cc60;
}

.form_button {
    text-transform: uppercase;
}

.form_p {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.form_link {
    color: #3aa5ee;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.form-group label {
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.form_contact {
    display: flex;
    padding-bottom: 20%;
}

.od_vizitka {
    padding-bottom: 5%;
}

.form_contact img {
    padding-top: 5px;
    margin: auto;
    width: 54%;
}

.podpora {
    margin-top: -20px;
}

.podpora {
    position: relative;
    z-index: 999;
    max-width: 430px;
    max-height: 57px;
    background-image: linear-gradient(90deg, #66cc60 0%, #76d770 100%);
    margin-bottom: 50px;
    margin-left: 40px;
    border-radius: 5px;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    display: none;
}
.podpora-picture {
    display: inline-block;
    position: absolute;
    left: 20%;
    bottom: -25%;
}
.podpora-picture > img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 999px;
}
.podpora-icon {
    padding-left: 45%;
    display: inline-block;
    position: relative;
    bottom: 10px;
}
.podpora-content {
    display: inline-block;
    padding-left: 2%;
    padding-top: 3px;
}

.podpora-first-text {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    color: white;
    margin-bottom: -4px;
    margin-top: 4px;
}

.podpora-second-text {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color: white;
}

.podpora:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(114,212,109,0.5);
    transition: ease-in-out 1s;
}
#mapa_kontakt .title_contact{
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 5%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 3%;
    margin-bottom: 33px;

}

#mapa_kontakt .title_contact:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: 19%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid #3aa5ee;
}

#mapa_kontakt{
    padding: 0px 0px 80px 0px;
    background: url(./../img/mapa_back.jpg);
    background-size: cover !important;
    background-position: center center !important;
    min-height: 740px;
    z-index: 9;
    position: relative;
}
.acf-map {
    width: 100%;
    height: 500px;

}

.acf-map img {
   max-width: inherit !important;
}
#mapa_kontakt .container-fluid{
    padding: 0px;
    margin-top: 60px;
}
.kancelare h3{
    color: #3aa5ee;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}
.fakturacni_udaje h3{
    color: #66cc60;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}
.kancelare p{
    color: #434a5a;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}
.fakturacni_udaje p{
    color: #434a5a;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}
.kancelare strong{
    font-weight: bold;
}
.fakturacni_udaje strong{
    font-weight: bold;
}
.info_kontakt{
    max-width: 740px;
}
@media only screen and (max-width: 1199px) {
    .podpora-picture {
        left: 15%;
    }
    .podpora-icon {
        padding-left: 40%;
    }
}

@media only screen and (max-width: 990px) {
    .podpora-picture {
        left: 5%;
        max-width: 60px;
    }
    .podpora-icon {
        padding-left: 35%;
       bottom: 7px;

    }
    .podpora-first-text {
        font-size: 12px;
    }
    .podpora-second-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .podpora-picture {
        left: 15%;
        max-width: unset;
    }
    .podpora-icon {
        padding-left: 40%;
        bottom: 12px;
    }

    .podpora-first-text {
        font-size: 15px;
    }
    .podpora-second-text {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .info_kontakt{
        text-align: center;
    }
    .kancelare{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 540px) {
    .podpora {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 520px) {
    .podpora {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 390px) {
    .podpora-picture {
        left: 7%;
    }
    .podpora-icon {
        padding-left: 33%;
    }
}

@media only screen and (max-width: 360px) {
    .podpora-icon {
        padding-left: 37%;
    }
}

    /* WPCF7 custom styling */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea
{
    background-color: #fff;
    color: #000;
    border: none !important;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 12px !important;
}

textarea {
    resize: none;
    height: 100px !important;
    border: white !important;
    border-radius: 10px !important;

}

textarea:focus {
    outline: 0;
    box-shadow:none !important;
}
.c_shortcode {
    position: relative;
    z-index: 99;
}

.c_background {
    position: absolute;
    height: 490px;
    top: -30px;
    left: -500px;
    width: 1200px;
    background-image: linear-gradient(90deg, #f1f3f9 0%, #eceff6 100%);
    z-index: 9;
    border-top-right-radius: 270px;
}

@media only screen and (max-width: 1199px) {
    .c_background {
        left: -500px;
        width: 1100px;
    }
}

@media only screen and (max-width: 992px) {
    .od_form_title:before {
        bottom  : 21%;
    }
    .form_button {
        border-radius: 20px !important;
    }
    .c_background {
        left: -500px;
        width: 1000px;
    }
}

@media only screen and (max-width: 767px) {
    .form_contact img {
        display: none;
    }
    .form_contact {
        display: none;
    }

    .podpora{
        padding-bottom: 23px;
        padding-top: 5px;
    }

    .c_background {
        display: none;
    }

    .od_vizitka {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 434px) {
    .od_form_title:before {
        bottom  : 11%;
    }
    .od_form_title {
        font-size: 0.3in;
    }

    .od_about_title {
        font-size: 0.3in !important;
    }
}

/*------------------------------------*\
    About Us
\*------------------------------------*/
.od_about_title {
    font-size: 0.47in;
    color: #434a5a;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    padding-top: 5%;
    margin-left: 0%;
    position: relative;
    padding-bottom: 3%;
}

.od_about_title:before {
    content : "";
    position: absolute;
    left    : 47.5%;
    bottom  : 18%;
    height  : 1px;
    width   : 5%;
    border-bottom:2px solid #3aa5ee;
}

#vizitka {
    width: 95%;
}

.od_about_logo {
    padding-top: 40px;
}

.od_about_firsttext {
    padding-top: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
}

.od_about_firsttext b {
    font-weight: bold;
}

.od_about_secondtext {
    padding-top: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
}

.od_about_text {
    padding-bottom: 0px;
}


.marketsoul-link{
    text-align: center;
    font-size: 15px;
    color: #505665;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    margin-bottom: 150px;
}


/*------------------------------------*\
    Sections
\*------------------------------------*/
#nav_header {
    -webkit-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    -moz-box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
    box-shadow: 0 8px 20px -6px rgba(172,172,172,0.3);
}

#od_over_firstpart {
    min-height: 36.5vw;
    height: auto;
    background-color: #f2f4f9;
}

#od_over_secondpart {
    min-height: 25vw;
    height: auto;
    background: white;
    border-bottom: 1px solid #f2f4f9;
    position: relative;
    z-index: 99;
}