@media screen and (max-width: 991px){
    #aa_over_thirdpart{
        max-height: 100% !important;
    }
}
@media screen and (max-width: 450px){
	.c_first_block {

        font-size: 13px;

    }
    .c_second_block {
        font-size: 13px;
    }
    .c_second_block div {
       padding-left: 0%;
       padding-right: 0%;
    }
    .table td, .table th {
        padding: 1px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}
@media screen and (max-width: 400px){
    .c_first_block {

        font-size: 11px;

    }
    .c_second_block {
        font-size: 11px;
    }
    .table td, .table th {
        padding: 0px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}
@media screen and (max-width: 380px){
    .overflow_table{
        overflow-x: auto;
    }
}