@import "variables";
@import "mixins";

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
	
}

@media only screen and (min-width: 1200px) {
	
}