%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

%user_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin animation($name) {
  -webkit-animation: $name;
  -moz-animation: $name;
  -ms-animation: $name;
  -o-animation: $name;
  animation: $name;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin flex-wrap($wrap) {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin border-radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}

@mixin transition($s) {
  -webkit-transition: $s;
  -moz-transition: $s;
  -ms-transition: $s;
  -o-transition: $s;
  transition: $s;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  background-size: $size;
}

@mixin margin-top($px) {
  margin-top: $px;
}

@mixin margin-bottom($px) {
  margin-bottom: $px;
}

@mixin margin-left($px) {
  margin-left: $px;
}

@mixin margin-right($px) {
  margin-right: $px;
}