/*!
	Theme Name: Esoul Marketsoul Custom Theme
	Description: Custom WordPress Theme
	Version: 17
	Author: Denis Varaksin
	Author URI: https://www.marketsoul.cz/
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "css/standards";

$primary: #66cc60;
$secondary: #3AA5EE;
$tertiary: #444;

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $tertiary;
  background: #f2f4f9;

  &::selection {
    background: $secondary;
    color: #FFF;
    text-shadow: none;
  }

  &::-webkit-selection {
    background: $secondary;
    color: #FFF;
    text-shadow: none;
  }

  &::-moz-selection {
    background: $secondary;
    color: #FFF;
    text-shadow: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $tertiary;
  text-decoration: none;

  &:hover {
    color: $tertiary;
  }

  &:focus {
    outline: 0;
  }
}

input {
  &:focus {
    outline: 0;
    border: 1px solid $secondary;
  }
}

#banner_cesta {
  height: 200px;
  background-size: cover !important;
  background-position: center center !important;
  padding: 80px 0;

  p {
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 15px;
  }

  .col-md-9 {
    padding-top: 6px;
  }
}

.button_cesta {
  text-transform: uppercase;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 16px 30px 14px 30px;
  width: 200px;
  border-radius: 25px;
  font-family: 'Muli', sans-serif;
  color: #434a5a;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 25px rgba(117, 117, 117, 0.6);
  text-align: center;
  float: right;

  &:hover {
    text-decoration: none;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    background: #434a5a;
    color: white;
  }
}

.wrapper {
  margin: 0 auto;
  /*position:relative;*/
  background-color: #f2f4f9;
}

.wrapper-link {
  display: block;

  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a {
  img {
    &.alignright {
      float: right;
      margin: 5px 0 20px 20px;
    }

    &.alignnone {
      margin: 5px 20px 20px 0;
    }

    &.alignleft {
      float: left;
      margin: 5px 20px 20px 0;
    }

    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;

  &.alignnone {
    margin: 5px 20px 20px 0;
  }

  &.alignleft {
    margin: 5px 20px 20px 0;
  }

  &.alignright {
    margin: 5px 0 20px 20px;
  }

  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }
}

.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.cesta_add {
  margin-top: 100px;
}

.post-edit-link {
  position: fixed;
  right: 0;
  bottom: 0;
  display: inline-block;
  padding: 15px;
  font-weight: 600;
}

.screenReaderElement {
  position: absolute;
  left: -999999999px;
}

.logo {
  float: left;
  margin: 0 !important;
  min-width: 180px;
  max-width: 180px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item {
  text-align: center;
  color: #434A5A;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}

#nav_header .navbar-light .navbar-nav .nav-item--active {
  a.nav-link {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;
      height: 1px;
      width: 18px;
      border-bottom: 2px solid #4485e1;
    }
  }

  a.nav-item-last {
    background: #4485e1;
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.6);
    transition: 0.5s ease-in-out;
    text-decoration: none;

    &:before {
      display: none !important;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #434A5A;
  padding-top: 11px !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 53px;
  padding-left: 0;
}

.blue_button {
  padding-right: 18px !important;
  padding-left: 18px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  color: white !important;
  background-image: linear-gradient(90deg, #4485e1 0%, #3aa6ef 100%) !important;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.6);
  border: none;
  border-radius: 58px;
  text-align: center !important;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(90deg, $secondary 0%, $secondary 100%) !important;
    transition: 0.5s ease-in-out;
    text-decoration: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.inline {
  @extend %flex;
}

#nav-container {
  /*max-width: 1170px;*/
}

.lightbox {
  z-index: 999999 !important;
}

#nav_header {
  z-index: 10000;
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 0.5s;
}

.navbar {
  z-index: 9999 !important;
}

.custom-toggler.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  width: 27px !important;
  height: 27px !important;
}

.overlay-is-navbar-collapse {
  background: white;
}

.fadeHeader {
  opacity: 0;
}

#play_container {
  padding-top: 300px;
  z-index: 99;
  position: relative;
  left: 5%;
}

#moving_people_mobile {
  display: none;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 8px 20px -6px rgba(172, 172, 172, 0.3);
  z-index: 999;

  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.text_custom_style {
  width: 100% !important;
  padding: 25px 30px !important;
  margin-left: -6%;
}

.sticky + .content {
  padding-top: 102px;
}

.play_header {
  font-family: 'Muli', sans-serif;
  font-size: 0.70in;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: -3px;
  color: #434a5a;

  p {
    display: inline;
    font-size: 0.70in;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
  }
}

#name {
  color: $primary;
}

.play_miniheader {
  font-family: 'Muli', sans-serif;
  font-size: 0.15in;
  font-weight: bold;

  p {
    display: inline;
    color: $primary;
  }
}

#play_button {
  padding-top: 70px;
}

#play_button_img {
  @extend %flex;
  background: #48be42;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 9999;

  &:after {
    position: absolute;
    background: rgba(114, 212, 109, 0.3);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid transparent;
    content: " ";
    left: -20%;
    top: -20%;
    z-index: -1;
  }

  &:hover {
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pule 1s;
    animation: pulse 1s;
  }

  img {
    display: block;
    margin: auto;
  }
}

#esoul_nav_video_link {
  width: 100px;
  display: block;
}

.header_city {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 10%;
  z-index: 9;
  background-repeat: repeat-x !important;
  background-size: 300% !important;
  max-height: 1000px !important;
}

#moving_people {
  position: absolute;
  z-index: 99;
  left: 35%;
  top: 15%;
}

#plus_box {
  margin-top: -2%;
}

.plus_box_one {
  min-height: 300px;
  position: relative;
  z-index: 99;

  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: -1px;
    bottom: 0;
    background: $secondary;
    transform-origin: center center;
    transition: all .5s;
  }

  &:after {
    content: "";
    background: #4485e1;
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 2px;
  }

  &:hover {
    &:before {
      transform: scale(1.08);
      border-radius: 5px;
    }

    &:after {
      transform: none !important;
    }
  }

  img {
    padding-top: 50px;
    padding-left: 25px;
  }
}

#plus_box-1 {
  &:before {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }

  &:after {
    display: none;
  }
}

#plus_box-4 {
  &:before {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.plus_box_hover {
  transition: .3s all;

  &:first-child {
    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
    }
  }

  > div {
    padding: 14px; /*before was 15*/
    transition: .3s all;
    position: relative;
  }
}

.plus_box_title {
  font-family: 'Muli', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 17px;
  padding-left: 25px;
  padding-top: 35px;
}

.plus_box_text {
  font-family: 'Muli', sans-serif;
  color: #f2f4f9;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 14px;
}

.esoul_title {
  font-size: 0.47in;
  color: #434a5a;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 4%;
  margin-left: -15%;
}

.esoul_subtitle {
  font-size: 0.19in;
  color: $primary;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  margin-left: -17%;
  position: relative;
  padding-bottom: 15px;
}

.esoul_subtitle:before {
  content: "";
  position: absolute;
  left: 48%;
  bottom: 0;
  height: 1px;
  width: 4%;
  border-bottom: 2px solid $primary;
}

.esoul_text {
  font-size: 0.17in;
  font-family: 'Muli', sans-serif;
  padding-top: 4%;
  margin-left: -4%;
  color: #434a5a;
}

.esoul_icons {
  position: relative;
  max-width: 100%;
  height: 450px; /* before video 550px  */
}

.esoul_icons_mobile {
  display: none;
}

.esoul_nav {
  font-size: 0.47in;
  color: #434a5a;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 2%;
  margin-left: 0;
  position: relative;
  padding-bottom: 10%;

  &:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: 55%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid $secondary;
  }
}

.esoul_play {
  margin-top: 8%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
  background-color: transparent;
  margin: 10% auto;
  padding: 0;
  border: none;
  width: 51.5%;
}

.close {
  color: black;
  float: right;
  margin-left: 100%;
  font-size: 28px;
  font-weight: bold;
  width: 18px;
  cursor: pointer;

  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_logo {
  position: absolute;
}

.icon_1 {
  left: 7%;
}

.icon_2 {
  left: 17%;
  top: 20%;
}

.icon_3 {
  top: 35%;
}

.icon_logo {
  left: 31%;
  top: 25%;
}

.icon_4 {
  left: 68%;
}

.icon_5 {
  left: 59%;
  top: 20%;
}

.icon_6 {
  left: 76%;
  top: 35%;
}

.icon_3[data-aos=fade-down-left] {
  -webkit-transform: translate3d(230px, -80px, 0);
  transform: translate3d(230px, -80px, 0);
}

.icon_1[data-aos=fade-up-left] {
  -webkit-transform: translate3d(170px, 100px, 0); /*x and y */
  transform: translate3d(170px, 100px, 0);
}

.icon_4[data-aos=fade-up-right] {
  -webkit-transform: translate3d(-100px, 100px, 0); /*x and y */
  transform: translate3d(-100px, 100px, 0);
}

.icon_6[data-aos=fade-down-right] {
  -webkit-transform: translate3d(-230px, -80px, 0); /*x and y */
  transform: translate3d(-230px, -80px, 0);
}

#play_button_img_down {
  background: #48be42;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  display: flex;
  position: relative;
  margin-left: 46%;
  z-index: 9999;

  &:after {
    position: absolute;
    background: rgba(114, 212, 109, 0.3);
    width: 137px;
    height: 137px;
    border-radius: 50%;
    border: solid transparent;
    content: " ";
    left: -20%;
    top: -20%;
    z-index: -1;
  }

  &:hover {
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pule 1s;
    animation: pulse 1s;
  }

  img {
    display: block;
    margin: auto;
  }
}

#link_size {
  display: block;
  width: 100px;
  margin-left: 43%;
}

.page {
  position: relative;
  height: 100%;
}

.slick-dots {
  position: absolute;
  left: -10%;
}

.slick-dots li button::before {
  content: "0";
  margin-left: -2px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eff2f8;
  border: none;
  margin-bottom: 25px;
}

.slick-dots li button:focus {
  outline: 0;
}

.slick-dots .slick-active button {
  background: #76d76f;
  color: white;
}

.slick-prev:before, .slick-next:before {
  color: red;
}


#slickRight_main_home button {
  position: relative;
  top: 25%;
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 20px 30px;
  font-weight: bold;
  color: $primary;
  border: none;
  border-radius: 50%;

  &:hover {
    box-shadow: 0 0 20px rgba(165, 165, 165, 0.5);
    transition: 0.3s ease-in-out;
  }

  &:focus {
    outline: 0;
  }
}

#order-button {
  padding-right: 18px !important;
  padding-left: 18px !important;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  color: #fafcfe !important;
  background-image: linear-gradient(90deg, #4485e1 0%, #3aa6ef 100%) !important;
  border: none;
  border-radius: 58px;
  text-align: center !important;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: -125px;
  right: 38%;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.4);
  font-family: 'Muli', sans-serif;
  cursor: pointer;

  &:hover {
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pulse 1s;
    animation: pulse 1s;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(90deg, $secondary 0%, $secondary 100%) !important;

    .order-button-child {
      -webkit-animation: pulsereverse 1s;
      -o-animation: pulsereverse 1s;
      -moz-animation: pulsereverse 1s;
      animation: pulsereverse 1s;
    }
  }
}

.order-button-child {
  margin-bottom: 0 !important;
}

.connections_title {
  font-size: 0.47in;
  color: #434a5a;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 4%;
  margin-left: 0;
  position: relative;
  padding-bottom: 4%;

  &:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: 15%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid $secondary;
  }
}

.connections_subtitle {
  color: #61b7f1;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 7%;
  margin-bottom: 8%;
}

.connections_subtitle_second {
  color: #61b7f1;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-top: 6%;
  margin-bottom: 2%;
}

.connections_logo_first {
  margin-right: 30px;
  filter: grayscale(100%);

  &:hover {
    filter: none;
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.connections_logo_second {
  filter: grayscale(100%);

  &:hover {
    filter: none;
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.slider_title {
  font-size: 0.47in;
  color: #434a5a;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 3%;
  margin-left: 0%;
  position: relative;
  padding-bottom: 4%;
}

.slider_title:before {
  content: "";
  position: absolute;
  left: 47.5%;
  bottom: 20%;
  height: 1px;
  width: 5%;
  border-bottom: 2px solid $primary;
}

#slider {
  width: 80%;
  height: 100%;
  @extend %flex;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  outline: none;

  > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transition: transform 0.5s;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.inside_slider_content {
  width: 50%;
}

.inside_slider_title {
  color: $primary;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 13pt;
}

.inside_slider_text {
  font-family: 'Muli', sans-serif;
  font-size: 12pt;
}

.inside_slider_picture {
  margin-bottom: 7%;
  max-width: 400px;
}

.our_packages_title {
  font-size: 0.47in;
  color: #434a5a;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 10%;
  margin-left: 0;
  position: relative;
  padding-bottom: 4%;

  &:before {
    content: "";
    position: absolute;
    left: 47.5%;
    bottom: 15%;
    height: 1px;
    width: 5%;
    border-bottom: 2px solid $primary;
  }
}

#fifth_row {
  min-height: 28vw;
  height: auto;

  hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    padding-bottom: 1%;
  }
}

.our_package_first {
  align-self: flex-end;
  background: #ffffff;
  font-family: 'Muli', sans-serif;
  min-height: 360px;
  border-radius: 4px;
  max-width: 320px;
}

.our_package_second {
  align-self: flex-end;
  background-image: linear-gradient(to right, #69cf63, #72d56c, #71d46b);
  font-family: 'Muli', sans-serif;
  color: white;
  min-height: 400px;
  border-radius: 4px;
  max-width: 320px;
}

.our_package_third {
  align-self: flex-end;
  background: #ffffff;
  font-family: 'Muli', sans-serif;
  min-height: 440px;
  border-radius: 4px;
  max-width: 300px;
}

.our_package_title {
  font-size: 18px;
  font-weight: 900;
  padding-top: 8%;
  padding-bottom: 4%;
}

.title-green {
  color: $primary;
}

.our_package_link {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bold;
  margin-bottom: 10%;

  a {
    color: $primary;
  }
}

.our_package_list li {
  font-size: 14px;
  font-weight: bold;

  span {
    position: relative !important;
    left: 4%;
    bottom: 3px !important;
  }
}

.our_package_footer {
  font-size: 13px;
  padding-left: 15%;
  padding-right: 15%;

}

.our_package_header {
  font-size: 13px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 7%;
}

.contact-title-custom {
  font-size: 18px;
  font-weight: bold;
  color: $secondary;
  margin-bottom: 30px;
}

.contact-text-custom {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 40px;
}

.green {
  color: #63ca5d !important;
  text-decoration: underline;
  display: inline-block;
  margin-left: 8px;

  a {
    color: #63ca5d !important;
  }
}

.green_play {
  width: 13px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.contact-text-custom p {
  display: inline-block;
}

.our_packages_button {
  text-transform: uppercase;
  display: block;
  margin-top: 6%;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, $primary, #76d770);
  padding: 15px 30px 15px 30px;
  width: 230px;
  border-radius: 25px;
  font-family: 'Muli', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(114, 212, 109, 0.7);
  cursor: pointer;

  &:hover {
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pulse 1s;
    animation: pulse 1s;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #76d770, #76d770);

    .order-button-child {
      -webkit-animation: pulsereverse 1s;
      -o-animation: pulsereverse 1s;
      -moz-animation: pulsereverse 1s;
      animation: pulsereverse 1s;
    }
  }
}

.bubble {
  transform: scale(1.2);
  transition: ease-in-out 1.5s;
}

#bubbleswrapper {
  transition: 1.5s transform ease-in-out;

  .active {
    .our_package {
      transform: scale(1.1);
    }
  }

  .our_package {
    transform: scale(1);
    transition: 1.5s transform ease-in-out;
  }
}

.card-title {
  color: $secondary;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

.card-text {
  font-family: 'Muli', sans-serif;
  padding-bottom: 10px;
  font-size: 13px;
}

.card-picture {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  padding: 15px;
  border: none;
}

.card-body {
  -webkit-box-shadow: 0 0 15px rgba(67, 67, 67, 0.2);
  -moz-box-shadow: 0 0 15px rgba(67, 67, 67, 0.2);
  box-shadow: 0 0 15px rgba(67, 67, 67, 0.2);
  border-radius: 5px;

  &:hover {
    background-color: #eceff6;
    transition: 0.5s;
  }
}

.card-columns {
  column-count: 4;
}

.order_demo_title {
  font-size: 0.47in;
  color: white;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  padding-top: 6%;
  margin-left: 0%;
  position: relative;
  z-index: 9999 !important;
}

.order_demo_button {
  text-transform: uppercase;
  display: block;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, $primary, #76d770);
  padding: 20px 40px 20px 40px;
  width: 215px;
  border-radius: 25px;
  font-family: 'Muli', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  z-index: 9999 !important;
  box-shadow: 0 0 30px rgba(114, 212, 109, 0.8);
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: white;
    -webkit-animation: pulse 1s;
    -o-animation: pulse 1s;
    -moz-animation: pule 1s;
    animation: pulse 1s;

    .order-button-child {
      -webkit-animation: pulsereverse 1s;
      -o-animation: pulsereverse 1s;
      -moz-animation: pulsereverse 1s;
      animation: pulsereverse 1s;
    }
  }
}

#over_first_part {
  min-height: 46vw;
  height: auto;
  overflow: hidden;
  z-index: 2;
  border-radius: 0 0 275px 0;
  background-color: white;
  margin-right: 10%;
}

#over_second_part {
  min-height: 35vw; /*40,5 when video part back*/
  height: auto;
  margin-left: 11%;
  margin-top: 4%;
  background-size: 150% !important;
  overflow: hidden;
  position: relative;
}

#over_third_part {
  min-height: 31vw;
  height: auto;
}

#over_fourth_part {
  height: auto;
  position: relative;
  background-color: #eceff6;
}

#over_fifth_part {
  min-height: 31.5vw;
  height: auto;
  background-color: white;
}

#over_sixth_part_one {
  min-height: 9vw;
  height: auto;
}

#over_sixth_part_two {
  min-height: 28vw;
  height: auto;
  background-position: center !important;
}

#over_sixth_part_three {
  min-height: 12.5vw;
  height: auto;
}

#over_seventh_part {
  min-height: 28vw;
  height: auto;
  background: white;
  padding-bottom: 7%;
}

#over_eight_part {
  min-height: 18vw;
  height: auto;
  background-image: linear-gradient(to right, #4485e1, $secondary);
  background-repeat: repeat-x !important;
  z-index: 9;
}

.footer_city {
  position: absolute;
  z-index: 9999;
  height: 18vw;
  width: 100%;
  background-size: 158% !important;
  color: #F2F4F9 !important;
  background-repeat: repeat-x !important;
  margin-top: 10px;
}

.footer_city_mobile {
  display: none;
}

.info_box {
  padding: 100px 0;
  background: url(/wp-content/uploads/2020/01/shopping.png), linear-gradient(45deg, #4485E1, $secondary);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40% auto, cover;

  > .container > .row {
    align-items: center;
  }
}

.info_box h2 {
  padding-top: 0;
}

.info_box_img_list {
  padding-left: 0;
  list-style: none;

  li a {
    font-weight: 600;
    color: #fff;
    font-size: 14px;
  }
}

.grecaptcha-badge {
  display: none;
}

.image_fade_left {
  transition: .5s ease-in-out;
}

.image_fade_left.animated {
  transform: translateX(-100%);
  opacity: 0;
}

.image_fade_left:not(.animated) {
  transform: translateX(0);
  opacity: 1;
}

.p-unset {
  padding: unset;
}

.white-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

.tabs {
  width: 100%;

  > ul {
    @extend %flex;
    > li {
      @extend %user_select;
    }
  }

  > .tabs_content {
    > .tab {
      &:not(.open) {
        display: none;
      }
    }
  }
}

#cenik_table {
  margin-top: 30px;

  > ul {
    justify-content: center;
    padding-left: 0;
    list-style: none;
    padding-bottom: 35px;
    border-bottom: 1px solid #000;

    > li {
      @extend %flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0;
      min-width: 250px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }

      &:first-of-type {
        margin-right: 25px;
      }

      svg {
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
      }

      h4 {
        font-weight: 600;
      }

      &.active {
        color: #fff;
        background: linear-gradient(to right, #4485e1, #3aa5ee);

        svg {
          fill: #fff;
        }
      }

      &:not(.active) {
        background: #fff;
      }
    }
  }
}

@keyframes pulsecustom {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2); /*0.9803921568627451*/
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulsereverse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.9803921568627451, 0.9803921568627451, 0.9803921568627451);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/* fadeIn effect */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1800px) {
  .esoul_play {
    margin-top: 4%;
  }
}

@media screen and (max-width: 1600px) {
  #moving_people {
    width: 50%;
    height: auto;
    left: 35% !important;
    top: 10% !important;
  }

  .esoul_play {
    margin-top: 3%;
  }
}

@media screen and (max-width: 1500px) {
  .esoul_play {
    margin-top: 2%;
  }
}

@media screen and (max-width: 1400px) {
  #play_container {
    padding-top: 120px;
  }

  .esoul_nav {
    padding-bottom: 2% !important;

    :before {
      bottom: 15%;
    }
  }

  .esoul_play {
    margin-top: 8%;
  }
}

@media screen and (max-width: 1300px) {
  .order_demo_button {
    padding: 10px 20px 10px 20px;
    margin-top: 2%;
  }

  .order_demo_title {
    font-size: 0.3in;
    position: relative;
  }

  #over_second_part {
    background-size: 120% !important;
  }

  .esoul_icons {
    height: 390px;
  }

  .esoul_play {
    margin-top: 5%;
  }
}

@media screen and (max-width: 1250px) {
  #play_container {
    padding-top: 150px;
  }

  #moving_people {
    width: 50%;
    height: auto;
    left: 30% !important;
    top: 10% !important;
  }
}

@media screen and (max-width: 1200px) {
  .our_package_first {
    max-width: 250px;
  }

  .our_package_second {
    max-width: 250px;
  }

  .our_package_third {
    max-width: 250px;
  }

  #order-button {
    right: 33%;
  }

  .inside_slider_title {
    font-size: 11pt;
  }

  .inside_slider_text {
    font-family: 'Muli', sans-serif;
    font-size: 10pt;
  }

  .plus_box_one {
    min-height: 350px;
  }

  #nav_header {
    left: 0;
    right: 0;
  }

  #banner_cesta {
    p {
      font-size: 16px;
      color: white;
      font-weight: bold;
      line-height: 15px;
    }
  }

  .esoul_nav {
    &:before {
      bottom: 12% !important;
    }
  }
}

@media screen and (max-width: 1060px) {
  .modal-content {
    top: 20% !important;
    width: 450px !important;
    height: 250px !important;
  }

  .esoul_play {
    margin-left: -5%;
  }
}

@media screen and (max-width: 992px) {
  .info_box {
    background: linear-gradient(45deg, #4485E1, $secondary);
  }

  #infoleftbox {
    img {
      margin-bottom: 40px;
    }
  }

  #inforightbox {
    text-align: center !important;
  }

  .our_package_first {
    max-width: 200px;
  }

  .our_package_second {
    max-width: 200px;
  }

  .our_package_third {
    max-width: 200px;
  }

  .our_packages_button {
    font-size: 12px;
    width: 200px;
  }

  #order-button {
    font-size: 12px;
    font-weight: 500;
    right: 30%;
    margin-bottom: 40px;
  }

  .order_button_adj {
    position: relative;
    top: 80px;
    left: -80px;
  }

  .s-mobile-row {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #play_button_img_down {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    display: flex;
    margin-bottom: 20px;

    &:after {
      width: 65px !important;
      height: 65px !important;
      left: -23% !important;
      top: -23% !important;
      z-index: -1;
    }
  }

  .esoul_icons {
    overflow: hidden;
  }

  .esoul_icons {
    height: 250px;
  }

  .esoul_text {
    padding-right: 6%;
    font-size: 0.13in;
  }

  .icon_1 {
    left: 10% !important;
    width: 80px !important;
  }

  .icon_2 {
    left: 20% !important;
    top: 18% !important;
    width: 80px !important;
  }

  .icon_3 {
    top: 36% !important;
    width: 80px !important;
    left: 10%;
  }

  .icon_logo {
    left: 43% !important;
    top: 25% !important;
    width: 150px !important;

  }

  .icon_4 {
    left: 82% !important;
    width: 80px !important;
  }

  .icon_5 {
    left: 72% !important;
    top: 20% !important;
    width: 80px !important;
  }

  .icon_6 {
    left: 82% !important;
    top: 35% !important;
    width: 80px !important;
  }
  .plus_box_one {
    &:hover {
      &:before {
        transform: none;
        border-radius: 0;
      }
    }
  }

  #plus_box-1 {
    &:before {
      border-bottom-left-radius: 0;
      border-top-left-radius: 6px;
    }
  }

  #plus_box-2 {
    &:before {
      border-top-right-radius: 6px;
    }
  }

  #plus_box-3 {
    &:before {
      border-bottom-left-radius: 6px;
    }
  }

  #plus_box-4 {
    &:before {
      border-bottom-right-radius: 6px;
      border-top-right-radius: 0;
    }
  }

  #play_container {
    padding-top: 100px;
  }

  .play_header p {
    font-size: 0.3in !important;
  }

  .play_miniheader {
    font-size: 0.11in !important;
  }

  #play_button {
    padding-top: 20px !important;
  }

  #play_button_img {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    display: flex;
    margin-bottom: 20px;

    &:after {
      width: 65px !important;
      height: 65px !important;
      left: -23% !important;
      top: -23% !important;
      z-index: -1;
    }
  }

  #nav_header {
    left: 0 !important;
    right: 0 !important;
  }

  #moving_people {
    width: 50%;
    height: auto;
    left: 30% !important;
    top: 5% !important;
  }

  #play_image {
    width: 10px !important;
  }

  #banner_cesta {
    .col-md-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-md-9 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }

    p {
      font-size: 16px;
      color: white;
      font-weight: bold;
      line-height: 15px;
      text-align: center;
    }
  }

  .button_cesta {
    float: unset;
    margin-top: 20px;
  }

  #nav_header .navbar-light .navbar-nav .nav-item--active a {
    &.nav-link::before {
      display: none !important;
    }

    &.nav-item-last {
      box-shadow: none !important;
    }
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    background: white;
  }
}

@media screen and (max-width: 800px) {
  .footer_city {
    background-size: 140% !important;
  }
}

@media screen and (max-width: 768px) {
  .order_demo_title {
    font-size: 0.2in;
  }

  #over_eight_part {
    background-size: 120%;
  }

  .card-columns {
    column-count: 2;
  }

  #slickRight_main_home button {
    font-size: 20px;
    padding: 10px 15px;
  }

  .order_button_adj {
    position: relative;
    top: 90px;
    left: -150px;
  }

  #order-button {
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 11px;
  }

  .inside_slider_picture {
    width: 50%;
  }

  .inside_slider_text {
    margin-bottom: 20px;
  }

  .slick-dots li button {
    font-size: 7px;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-bottom: 10px;
    border: 0 solid transparent;
    -webkit-appearance: none !important;

    &:before {
      padding: 0;
    }
  }

  #link_size {
    margin-left: 37% !important;
    margin-top: 5% !important;
  }

  #over_third_part {
    background-color: #eceff6 !important;
  }

  .esoul_nav {
    font-size: 0.27in;
  }

  #over_second_part {
    background-size: 180% !important;
  }

  .esoul_icons {
    height: 220px;
  }

  .icon_1 {
    left: 8% !important;
    width: 70px !important;
  }

  .icon_2 {
    left: 20% !important;
    top: 18% !important;
    width: 70px !important;
  }

  .icon_3 {
    top: 36% !important;
    width: 70px !important;
    left: 10%;
  }

  .icon_logo {
    left: 38% !important;
    top: 25% !important;
    width: 130px !important;

  }

  .icon_4 {
    left: 79% !important;
    width: 70px !important;
  }

  .icon_5 {
    left: 69% !important;
    top: 20% !important;
    width: 70px !important;
  }

  .icon_6 {
    left: 79% !important;
    top: 35% !important;
    width: 70px !important;
  }

  .esoul_title {
    padding-top: 6%;
  }

  #banner_cesta {
    padding: 17px 0 40px 0;
  }

  .plus_box_one {
    min-height: 250px !important;

    img {
      padding-top: 23px !important;
      padding-left: 25px;
    }
  }

  .plus_box_title {
    padding-top: 20px !important;
    font-size: 15px;
  }

  .plus_box_text {
    padding-top: 18px !important;
    padding-right: 15% !important;
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {
  #cenik_table {
    > ul {
      flex-direction: column;
      align-items: center;

      > li {
        max-width: 250px;
        padding: 20px 40px;

        &:first-of-type {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
  .modal-content {
    top: 20% !important;
    width: 350px !important;
    height: 200px !important;
  }

  #link_size {
    margin-left: 37% !important;
  }
}

@media screen and (max-width: 600px) {
  .order_demo_button {
    width: 175px !important;
    margin-top: 2%;
    margin-bottom: 30px;
  }

  #over_eight_part {
    background-size: 200% !important;
  }

  .order_demo_title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .footer_city {
    display: none;
  }

  .footer_city_mobile {
    display: block;
    position: absolute;
    z-index: 9999;
    height: 25vw;
    width: 100%;
    background-size: 220% !important;
    overflow: hidden;
  }

  .our_package_first {
    height: 250px;
    max-width: 100% !important;
    margin-left: 7%;
    width: 100%;
  }

  .our_package_second {
    height: 300px;
    max-width: 100%;
    margin-left: 7%;
  }

  .our_package_third {
    max-width: 100%;
    margin-left: 7%;
  }

  .our_package_title {
    padding-bottom: 7%;
  }

  .our_packages_button {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }

  .esoul_nav {
    font-size: 0.27in;
  }

  #play_button_img_down {
    width: 65px;
    height: 65px;

    img {
      width: 15px;
      height: auto;
    }
  }

  #link_size {
    margin-left: 37% !important;
  }

  #over_third_part {
    height: 200px !important;
    background-size: 130% !important;
    background-position: center !important;
  }

  .modal-content {
    top: 5% !important;
    width: 250px !important;
    height: 100px !important;
  }

  #over_second_part {
    margin-left: 0;
    background-color: #eceff6 !important;
    background-size: 380% !important;
    overflow: hidden;
  }

  .esoul_title {
    font-size: 0.3in;
    margin-left: 0;
  }

  .esoul_subtitle {
    margin-left: 0;
  }

  .esoul_text {
    margin-left: 0;
  }


  .esoul_icons {
    display: none;
  }

  .esoul_icons_mobile {
    display: flex;
    justify-content: center;
  }

  .plus_box_one {
    min-height: 200px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .plus_box_text {
    padding-right: 3% !important;
    padding-left: 25px !important;
  }

  #plus_box-1 {
    &:before {
      margin-top: 30px;
      border-top-right-radius: 6px !important;
      border-top-left-radius: 6px !important;
    }

    img {
      padding-top: 30px !important;
    }
  }

  #plus_box-2 {
    &:before {
      border-top-right-radius: 0;
    }
  }

  #plus_box-3 {
    &:before {
      border-bottom-left-radius: 0;
    }
  }

  #plus_box-4 {
    min-height: 260px !important;

    &:before {
      margin-bottom: 30px;
      border-bottom-right-radius: 6px !important;
      border-bottom-left-radius: 6px !important;
    }
  }
}

@media screen and (max-width: 520px) {
  .esoul_play {
    margin-top: 8%;
  }
}

@media screen and (max-width: 500px) {
  .footer_city_mobile {
    height: 28vw;
    background-size: 250% !important;
  }

  .our_packages_title {
    font-size: 0.3in;
  }

  .our_package_first {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(67, 67, 67, 0.15);
  }

  .our_package_second {
    margin-left: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(67, 67, 67, 0.15);
  }

  .our_package_third {
    margin-left: 0;
    margin-bottom: 0;
    box-shadow: 0 0 15px rgba(67, 67, 67, 0.15);
  }

  .connections_title {
    font-size: 0.3in;
  }

  .connections_subtitle {
    margin-left: 20px;
  }

  .connections_logos {
    margin-right: 20px;
    margin-left: 20px;
  }

  .mobile-padding {
    margin-right: 20px;
    margin-left: 20px;
  }

  .mobile-padding-2 {
    margin-left: 5px;
  }

  .slide {
    flex-wrap: wrap;
  }

  .slick-dots {
    position: absolute;
    left: -20%;
  }

  .slider_title {
    font-size: 0.3in;
  }

  .inside_slider_picture {
    width: 100% !important;
  }

  .inside_slider_content {
    width: 100% !important;
    padding-bottom: 10%;
  }

  #slickRight_main_home button {
    top: 37%;
  }

  #order-button {
    margin-bottom: 0 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
  }

  .order_button_adj {
    position: relative;
    top: 90px;
    left: -2% !important;
  }

  #play_container {
    padding-top: 80px;
  }

  .play_header p {
    font-size: 0.3in !important;
  }

  .play_miniheader {
    font-size: 0.11in !important;
  }

  #play_button {
    padding-top: 20px !important;
  }

  #play_button_img {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    display: flex;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  #moving_people {
    width: 35%;
    height: auto;
    left: 42% !important;
    top: 6% !important;
  }
}

@media screen and (max-width: 450px) {
  .card-columns {
    column-count: 1;
  }

  .esoul_nav {
    font-size: 0.27in;
    margin-top: 4%;

    &:before {
      bottom: 0 !important;
    }
  }

  .esoul_play {
    margin-top: 24%;
  }

  #link_size {
    margin-left: 35% !important;
  }

  #over_third_part {
    height: 400px !important;
    background-size: 330% !important;
    background-position: center !important;
  }

  #play_button_img_down img {
    width: 15px;
  }
}

@media screen and (max-width: 400px) {
  .footer_city_mobile {
    height: 32vw;
    background-size: 270% !important;
  }
}

@media screen and (max-width: 400px) {
  #over_first_part {
    border-radius: 0 0 120px 0;
  }

  .esoul_play {
    margin-top: 34%;
  }

  #play_container {
    padding-top: 70px;
  }

  .play_header p {
    font-size: 0.3in !important;
    text-align: center;
    margin-top: 20px;
  }

  .play_miniheader {
    font-size: 0.11in !important;
  }

  #play_button {
    padding-top: 7px !important;
    margin-left: 40%;
    margin-bottom: 10px;
  }

  #moving_people {
    display: none;
  }

  #moving_people_mobile {
    display: block;
    margin-bottom: 7px;
  }

  .header_city {
    height: 400px !important;
    width: 265% !important;
  }
}

@media screen and (max-width: 375px) {
  .footer_city_mobile {
    height: 42vw;
    background-size: 370% !important;
  }

  #order-button {
    right: 25%;
  }

  .esoul_play {
    margin-top: 37%;
    margin-left: -4%;
  }

  .esoul_nav {
    font-size: 0.27in;
    margin-top: 8%;
  }
}

@media screen and (max-width: 360px) {
  .button_cesta {
    margin-top: 10px;
  }

  .esoul_nav {
    font-size: 0.24in;
    margin-top: 12%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1 {
  all: unset !important;
}